<!--
  Generated template for the EditItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edit-item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div *ngIf="product" style="margin:15px 5px 5px 5px;">
      <ion-list>
		 <ion-item>
               <ion-label floating>Name* </ion-label>
               <ion-input required type="text" [(ngModel)]="product.name" name="name"></ion-input>
            </ion-item>
			<ion-item>
               <ion-label floating>Available </ion-label>
               <ion-input required type="text" [(ngModel)]="product.available" name="avialable"></ion-input>
            </ion-item>
			
			<ion-item>
               <ion-label floating>Category </ion-label>
               <ion-input required type="text" [(ngModel)]="product.category" name="category"></ion-input>
            </ion-item>
			
			<ion-item>
               <ion-label floating>Description </ion-label>
               <ion-input required type="text" [(ngModel)]="product.description" name="description"></ion-input>
            </ion-item>
			
			<ion-item>
               <ion-label floating>Image </ion-label>
               <ion-input required type="text" [(ngModel)]="product.image_firebase_url" name="image_firebase_url"></ion-input>
            </ion-item>
			
			<ion-item>
               <ion-label floating>Percent </ion-label>
               <ion-input required type="text" [(ngModel)]="product.percent" name="percent"></ion-input>
            </ion-item>
			
			<ion-item>
               <ion-label floating>Price </ion-label>
               <ion-input required type="text" [(ngModel)]="product.price" name="price"></ion-input>
            </ion-item>
			
			<ion-item>
               <ion-label floating>Real Price </ion-label>
               <ion-input required type="text" [(ngModel)]="product.real_price" name="real_price"></ion-input>
            </ion-item>
			
			<ion-item>
               <ion-label floating>Stock </ion-label>
               <ion-input required type="text" [(ngModel)]="product.stock" name="stock"></ion-input>
            </ion-item>
			
            <ion-item style="padding-top:10px" class="option">
               <ion-label>category</ion-label>
               <ion-select [(ngModel)]="product.categories"  name="categories">
               <ion-option *ngFor="let item of restaurantCategoryName" value="{{item.id}}">{{item.name}}</ion-option>
               </ion-select>
            </ion-item>
		 		
         <ion-item class="colr">
            <ion-thumbnail>
               <img src="{{product.image}}">
            </ion-thumbnail>
            <input type="file" name="Choose File" (change)="onChange($event)">
         </ion-item>
      </ion-list>
      <div class="error-message">
           <ion-label color="danger" text-wrap>{{errorMessage}}</ion-label>
        </div>
      <div style="margin:5px;">
         <button ion-button block color="secondary" [disabled]="disableSubmit" (click)="editProduct()">Save</button>
      </div>
      <br>
   </div>


</ion-content>
